# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/